@import url("./color_expanded.css");

@font-face
{
    font-family: 'Cardo';
    src: url('./Cardo.ttf');
}

@font-face {
    font-family: 'Tiempos';
    font-weight: 400;
    font-style: normal;
    src: url('./tiempos-text-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Tiempos';
    font-weight: 500;
    font-style: normal;
    src: url('./tiempos-text-medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Tiempos';
    font-weight: 600;
    font-style: normal;
    src: url('./tiempos-text-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Tiempos';
    font-weight: 400;
    font-style: italic;
    src: url('./tiempos-text-regular-italic.woff2') format('woff2');
}


/* Day time colours  */
@media (prefers-color-scheme: light)
{
    body
    {
        color: var(--uchu-yin-9);
        background: var(--uchu-yellow-1);
        font-family: "Cardo", Georgia, Times, "Times New Roman", sans-serif;
    }

    a
    {
        color: #403A36;
    }

    code
    {
        background-color: #FFF;
    }
}

/* Night time colours  */
@media (prefers-color-scheme: dark)
{
    body
    {
        color: var(--uchu-yin-1);
        background: var(--uchu-yin-8);
        font-family: Avenir, "Sesgoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", system-ui, -apple-system, sans-serif;
    }

    a
    {
        color: #EEE;
    }

    code
    {
        color: var(--uchu-yellow-9);
        background-color: var(--uchu-yellow-1);
    }
}

*
{
    margin: 0.3em;
}

p
{
    margin: 9.6px;
}

em, strong, u
{
    margin: 0;
}

li
{
    list-style-type: circle;
}

code
{
    border: 1px dashed #ccc;
    padding: 2px;
}

.title, .pitch {
    font-family: "Tiempos", "Cardo", Georgia, Times, "Times New Roman", sans-serif;
}

.hidden
{
    display: none;
}
