@import url("./color_expanded.css");

@font-face
{
    font-family: 'Cardo';
    src: url('./Cardo.ttf');
}

/* Day time colours  */
@media (prefers-color-scheme: light)
{
    body
    {
        color: var(--uchu-yin-9);
        background: var(--uchu-yellow-1);
        font-family: "Cardo", Georgia, Times, "Times New Roman", sans-serif;
    }

    a
    {
        color: #403A36;
    }

    code
    {
        background-color: #FFF;
    }
}

/* Night time colours  */
@media (prefers-color-scheme: dark)
{
    body
    {
        color: var(--uchu-gray-1);
        background: var(--uchu-yin-9);
        font-family: Avenir, "Sesgoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", system-ui, -apple-system, sans-serif;
        /* font-family: "Cardo", Georgia, Times, "Times New Roman", sans-serif; */
    }

    a
    {
        color: #EEE;
    }

    code
    {
        background-color: #645454;
    }
}

*
{
    margin: 0.3em;
}

p
{
    margin: 9.6px;
}

em, strong, u
{
    margin: 0;
}

li
{
    list-style-type: circle;
}

code
{
    border: 1px dashed #ccc;
    padding: 2px;
}


.hidden
{
    display: none;
}
